<head>
    <title>TODO list</title>
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.css">
</head>

<body style="background:rgb(44, 44, 44)">

    <div class="text-center">
        <br/>
        <h1 style="color: beige;">TODO LIST</h1>
        <br/>


    </div>

    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    <div class="container" style="width: 50%;">

        <div class="row">

            <div class="col md-12">


                <div class="text-center">
                    <button type="button" class="btn btn-success " style="width:250px;font-size: 20px;" data-toggle="modal" data-target="#myModal">ADD <i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
                <br/>
                <br/>
                <div class="text-center">
                    <a href="/" class="btn btn-primary btn-xs">ALL</a>
                    <a href="/Notstarted" class="btn btn-default btn-xs">NOT STARTED</a>
                    <a href="/started" class="btn btn-primary btn-xs">STARTED</a>
                    <a href="/finished" class="btn btn-success btn-xs">FINISHED</a>
                    <a href="/due" class="btn btn-warning btn-xs">DUE</a>
                    <a href="/overdue" class="btn btn-danger btn-xs">OVERDUE</a>
                </div>
                <br/>
                <br/>
                <br/>





                <table class="table table-bordered text-center" style="color: beige;">


                    <tr style="color: coral;">
                        <th>Serial</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Action</th>


                    </tr>





                    {% for row in list %}
                    <tr>
                        <td>{{row.0}}</td>
                        <td>{{row.1}}</td>
                        <td>{{row.2}}</td>
                        <td>{{row.4}}</td>
                        <td>


                            <a href="/update/{{row.0}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.0}}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit </a>
                            <a href="/delete/{{ row.0 }}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure For Delete?')"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>

                        </td>

                    </tr>

                    <div id="modaledit{{row.0}}" class="modal" role="dialog">


                        <div class="modal-dialog">


                            <div class="modal-content">


                                <div class="modal-header ">


                                    <button type="button" class="close" data-dismiss="modal">&times;</button>


                                    <h4 class="modal-title text-center">Update todo list</h4>


                                </div>


                                <div class="modal-body">


                                    <form action="{{ url_for('update') }}" method="POST">


                                        <div class="form-group">


                                            <label>Name:</label>
                                            <input type="hidden" name="id" value="{{row.0}}">

                                            <input type="text" class="form-control" name="TODO" value="{{row.1}}">


                                        </div>



                                        <div class="form-group">


                                            <label>Status:</label>
                                            <select id="status" name="status"> 
                                         <option value="Finished">Finished</option>
                                         <option value="Started">Started</option>
                                         <option value="Notstarted">Not started</option>
                                       </select>

                                        </div>


                                        <div class="form-group">


                                            <label>Date:</label>

                                            <input type="text" class="form-control" name="date" value="{{row.4}}">


                                        </div>


                                        <div class="form-group">


                                            <button class="btn btn-primary" type="sbumit">Update</button>




                                        </div>


                                    </form>


                                </div>


                                <div class="modal-footer">


                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


                                </div>


                            </div>


                        </div>


                    </div>


                    {% endfor %}


                    </tbody>


                </table>


            </div>


            <!-- Modal -->


            <div id="myModal" class="modal fade" role="dialog">


                <div class="modal-dialog">


                    <div class="modal-content">


                        <div class="modal-header">


                            <button type="button" class="close" data-dismiss="modal">&times;</button>


                            <h4 class="modal-title">Add to list</h4>


                        </div>


                        <div class="modal-body">


                            <form action="{{ url_for('insert') }}" method="POST">


                                <div class="form-group">


                                    <label>Name:</label>
                                    <input type="text" class="form-control" name="TODO" required="1">


                                </div>


                                <div class="form-group">


                                    <label>Status:</label>
                                    <select id="status" name="status"> 
                                 <option value="Finished">Finished</option>
                                 <option value="Started">Started</option>
                                 <option value="Notstarted">Not started</option>
                               </select>


                                </div>

                                <div class="form-group">


                                    <label>Date:</label>
                                    <input type="text" class="form-control" name="date" hint="yyyy-mm-dd" required="1">


                                </div>




                                <div class="form-group">


                                    <button class="btn btn-primary" type="submit">Insert Data</button>


                                </div>


                            </form>


                        </div>


                        <div class="modal-footer">


                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


                        </div>


                    </div>


                </div>


            </div>

        </div>


    </div>



    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

    <script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>



</body>